<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar Estúdios</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.min.js}"></script>

<style>
.mensagem {
	color: red;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<h2>Cadastro de Estúdios</h2>
				
				<!-- mensagem de erro -->
				<div class="alert alert-success alert-dismissible fade show"
					th:if="${mensagem}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span th:text="${mensagem}"></span>
				</div>
				
				<!-- formulario -->
				<form 
					th:action="@{/estudio/gravar/{id}(id=${objetoJogo.id})}"
					th:object="${estudio}" method="post">
					
					<!-- campo 1 -->
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Marca:</label>
						
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{marca}">
						</div>
						
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('marca')}"
								th:errors="*{marca}"></span>
						</div>
					</div>
					<!-- END campo 1 -->
					
					 
					<!--  -->
					<input class="btn btn-primary" type="submit" value="Gravar" />
					
				</form>
				<!--  -->
			</div>
		</div>
	</div>

</body>
</html>