<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.min.js}"></script>


<title>Index</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<a th:href="@{/categoria/novo}" class="btn btn-primary">Nova Categoria</a>
			</div>
		</div>
	</div>

</body>
</html>