<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar Categoria</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.1-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.3.1-dist/js/bootstrap.min.js}"></script>

<style>
.mensagem {
	color: red;
}
</style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="/" class="btn btn-primary m-1">Voltar</a>
				<h2>Cadastro de Produtos</h2>
				
				<!-- mensagem de erro -->
				<div class="alert alert-success alert-dismissible fade show"
					th:if="${mensagem}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span th:text="${mensagem}"></span>
				</div>
				
				<!-- formulario -->
				<form th:action="@{/produto/salvar}"
					th:object="${produto}" method="post">
					
					<!-- campo 1 -->
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Nome:</label>
						
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{nome}">
						</div>
						
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('nome')}"
								th:errors="*{nome}"></span>
						</div>
					</div>
					<!-- END campo 1 -->
					
					<!--  -->
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Preço:</label>
						
						<div class="col-sm-5">
							<input class="form-control" type="number" th:field="*{preco}">
						</div>
						
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('preco')}"
								th:errors="*{preco}"></span>
						</div>
					</div>
					<!--  -->
					
					<!--  -->
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Categorias:</label>
						
						<div class="col-sm-2">
							<select class="form-select" th:field="*{categoria}">
								<th:block th:each="categoria : ${categorias}">
									<option th:value="${categoria.id}"
										th:text="${categoria.nome}"></option>
								</th:block>
							</select>
						</div>
						
					</div> 
					<!--  -->
					<input class="btn btn-primary" type="submit" value="Gravar" />
				</form>
				<!--  -->
			</div>
		</div>
	</div>

</body>
</html>